@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import "tailwindcss";

@theme {
  --font-primary: "Chivo", sans-serif; 
  --font-secondary: "DM Sans", sans-serif;


  --color-primary: #3639A4;
  --color-secondery: #43E7DF;
}
