@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css');
@import "tailwindcss";

@theme {
  --font-primary: "Chivo", sans-serif;
  --font-secondary: "DM Sans", sans-serif;


  --color-primary: #3639A4;
  --color-secondery: #43E7DF;
  --color-titleColor: #2C2643;
  --color-peraColor: #645E76;

  --drop-shadow-app: 0px 0px 40px -1px rgba(0, 0, 0, 0.05);
  --drop-shadow-about: 10px 10px 130px -2px rgba(7,85,80,0.7);
}